body {
    width: 960px;
    height: 1360px;
    margin: 0 auto;
    padding: 20px 60px;
    background-color: black;
    font-family: calibri;
}

header a {
    text-decoration: none;
    color: #434244;
}

header section{
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.header-white {
    display: flex;
    width: 666px;
    background-color: white;
    color: #434244;
}

.header-black {
    width: 294px;
    background-color: #434244;
}

.cv-photo {
    padding: 15px 45px;
}

header h1{
    padding: 30px 0 0 60px;
    font-size: 40px;
}

header address{
    width: 100%;
    padding: 50px 60px 0 120px;
    font-size: 18px;
    list-style: none;
}

.header-icon {
    width: 16px;
    height: 16px;
    background-color: #434244;
    margin-right: 5px;
    margin-bottom: 3px;
    padding: 8px;
    vertical-align: middle;
}

.flex {
    display: flex;
}

.black {
    width: 35%;
    height: 1135px;
    background-color: #434244;
    color: white;
}

.black section{
    padding: 15px 20px;
}

.black p {
    font-size: 18px;
}

.black ul {
    list-style: none;
    padding-left: 0;
}

.languages {
    border: 3px solid;
}

.white-line {
    margin-top: 60px;
}

.black a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.link-icon {
    vertical-align: middle;
    margin: 10px 0;
    padding-right: 8px;
}

.white {
    width: 65%;
    height: 1135px;
    padding: 0 60px;
    background-color: white;
    color: #434244;
}

.circle-radius {
    border-radius: 50%;
}

.rodo {
    color: grey;
    font-size: 10px;
}

.black-line {
    border: 2px solid #434244;
}

.education {
    padding-top: 20px;
}

.white h2 {
    margin-bottom: 0;
}

.vertical-line {
    border-left: 2px solid #434244;
    height: 120px;
    margin: 0 40px;
    padding: 0;
}

.education-elements {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.circle {
    width: 15px;
    height: 15px;
    background-color: #434244;
    border-radius: 50%;
    margin-left: 28%;
    padding-top: 0;
}

.place {
    width: 120px;
    font-size: 20px;
}

.city {
    font-size: 14px;
    font-weight: bold;
    color: rgb(94, 94, 94);
}

.date {
    font-size: 15px;
    width: 120px;
    margin-top: 3px;
}

.skills,
.activity,
.certificares {
    margin: 40px 0;
}

.skills ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.skills-img {
    height: 60px;
    width: 60px;
}

.certificates ul {
    list-style: circle;
}

.activity ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.vertical-line-activity {
    border-left: 2px solid #434244;
    height: 175px;
    margin: 0 40px;
    padding: 0;
}

.name {
    width: 120px;
    font-size: 20px;
}

.description {
    width: 300px;
}

.aboutMe {
    font-size: 18px!important;
}

.experience {
    margin-top: 35px;
}

.experience-elements {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.vertical-line-experience {
    margin-left: 80px;
    border-left: 2px solid #434244;
    height: 230px;
    margin: 0 40px 0 40px;
    padding: 0;
}

.job-1, .study-1 {
    font-size: 20px;
    padding-bottom: 0;
}

.duties {
    list-style: disc;
    padding: 0 0 0 20px;
}

.duties li {
    padding-bottom: 3px;
}

.study-1-desc {
    margin-top: 17px;
}

.rodo {
    margin-top: 420px;
}

.rodo p {
    color: white!important;
}

.secret {
    color: white;
}